<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}">
  </head>
  <body>
    <section class="bac">
      <div class="row">
        <div class="col-lg-2">
          <img src="{{ url_for('static', filename='images/lawyerloginphoto.png') }}" class="img-fluid mt-3 jimjam" alt="Responsive image">
        </div>
        <div class=" d-flex col-lg-8 justify-content-center">
          <h1 class="justify-content-center display-2"> <strong>WELCOME {{name}}</strong></h1>
        </div>
        <div class="col-lg-2">
          <img src="{{ url_for('static', filename='images/lawyerloginphoto.png') }}" class="img-fluid mt-3 jimjam" alt="Responsive image">
        </div>

      </div>

<div class="mt-2 pt-2 d-flex justify-content-between flex-row bg-secondary">
<div class="p-2"><h5 class="text-white"><a href="{{url_for('lawyer',person_id=id)}}">PROFILE</a></h5></div>
<div class="verticalLine"></div>
<div class="p-2"><h5 class="text-white"><a href="{{url_for('lawyercases',person_id=id)}}">CASES</a></h5></div>
  <div class="verticalLine"></div>
  <div class="p-2"><h5 class="text-white"><a href="{{url_for('lawyerupload',person_id=id)}}">UPLOAD DOCUMENT</a></h5></div>
  <div class="verticalLine"></div>
  <div class="p-2"><h5 class="text-white"><a href="{{url_for('compete',person_id=id)}}">COMPETE</a></h5></div>
  <div class="verticalLine"></div>
  <div class="p-2"><h5 class="text-white"><a href="{{url_for('lawyerschedule',person_id=id)}}">HEARNING SCHEDULE</a></h5></div>
  <div class="verticalLine"></div>
  <div class="p-2"><h5 class="text-white"><a href="{{url_for('login')}}">LogOut</a></h5></div>
  

</div>
<div class="d-flex p-2 justify-content-center">
  <h1>Hearing Schedule</h1>
</div>
<div class="mt-4">
  <form method="POST">
  <div class="form-group mb-3">
    <label for="exampleInputEmail">Number of Days</label>
    <input type="number" name="days" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Number of Days">
    <div class="input-group mb-3">
    <div class="">
      <button class="btn btn-outline-secondary bg-primary text-white" type="submit" id="inputGroupFileAddon03">Get Schedule</button>
    </div>
    </div>
  </div>
</form>
</div>



<div class="m-3">
  <table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Case ID</th>
    <th scope="col">Hearing Schedule Date</th>
    <th scope="col">Starting Time</th>
    <th scope="col">Ending Time</th>
  </tr>
  </thead>
  <tbody>
  {% for row in schedule %}
      <tr>
        <th scope="row">{{ row[0] }} </th>
        <td>{{ row[1] }} </td>
        <td>{{ row[2] }} </td>
        <td>{{ row[3] }} </td>
      </tr>
    {% endfor %}
  </tbody>
  </table>

</div>



</section>

  </body>
</html>
